.h1 {
    color: red;
}

.h2 {
    color: rgb(201, 117, 7);
}

.h3 {
    color: rgb(175, 43, 120);
}

.h4 {
    color: aquamarine;
}

.h5 {
    color: rgb(136, 93, 14);
}

.h6 {
    color: rgb(47, 32, 114);
}